.container {
  margin: auto;
  width: 1170px;
}

.buttonsMain {
  margin-top: 2rem;
}

.buttonsHeader {
  margin: 2rem 0;
}

.primary:focus {
  background-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 2px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.primary:hover {
  background-color: #4f6592;
  border: 2px solid #4f6592;
  outline-color: #4f6592;
}

.primary:active {
  background-color: #0a0e14;
  outline-color: #0a0e14;
  border: 2px solid #0a0e14;
}

.primary {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #26374a;
  box-shadow: 0 0 0 3px white;
  cursor: pointer;
  padding: 12px;
  color: white;
  border: 2px solid #26374a;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.primary[aria-disabled="true"]:focus {
  background-color: #606cd7;
  border: 2px solid #606cd7;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #606cd7;
  outline-offset: 2px;
  color: white;
}

.primary[aria-disabled="true"] {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #ededed;
  cursor: not-allowed;
  padding: 12px;
  color: #6b6b6b;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

.secondary:focus {
  background-color: #303fc3;
  color: white;
  border-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.secondary:hover {
  background-color: #d4e6f2;
  color: #396293;
  border: 2px solid #396293;
  outline-color: #396293;
}

.secondary:active {
  background-color: #aad5f2;
  color: #2B496E;
  border: 2px solid #2B496E;
  outline-color: #2B496E;
}

.secondary {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: white;
  border: 2px solid #26374a;
  cursor: pointer;
  padding: 12px;
  color: #26374a;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.secondary[aria-disabled="true"]:focus {
  background-color: #606cd7;
  border: 2px solid #606cd7;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #606cd7;
  outline-offset: 2px;
  color: white;
}

.secondary[aria-disabled="true"] {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #ededed;
  cursor: not-allowed;
  padding: 12px;
  color: #6b6b6b;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

.danger:focus {
  background-color: #303fc3;
  color: white;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.danger:hover {
  background-color: #5e1d1d;
  border-color: #5e1d1d;
  outline-color: #5e1d1d;
}

.danger:active {
  background-color: #0a0e14;
  outline-color: #0a0e14;
  border: 2px solid #0a0e14;
}

.danger {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #bc3331;
  border: 2px solid #bc3331;
  cursor: pointer;
  padding: 12px;
  color: white;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.danger[aria-disabled="true"]:focus {
  background-color: #606cd7;
  border: 2px solid #606cd7;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #606cd7;
  outline-offset: 2px;
  color: white;
}

.danger[aria-disabled="true"] {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #ededed;
  cursor: not-allowed;
  padding: 12px;
  color: #6b6b6b;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

.dangerOutline:focus {
  background-color: #303fc3;
  color: white;
  border-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.dangerOutline:hover {
  background-color: #F2D4D4;
  color: #B2302E;
  border: 2px solid #B2302E;
  outline-color: #B2302E;
}

.dangerOutline:active {
  background-color: #E5A9A9;
  color: #862423;
  border: 2px solid #862423;
  outline-color: #862423;
}

.dangerOutline {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: white;
  border: 2px solid #BC3331;
  cursor: pointer;
  padding: 12px;
  color: #BC3331;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.dangerOutline[aria-disabled="true"]:focus {
  background-color: #606cd7;
  border: 2px solid #606cd7;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #606cd7;
  outline-offset: 2px;
  color: white;
}

.dangerOutline[aria-disabled="true"] {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #ededed;
  cursor: not-allowed;
  padding: 12px;
  color: #6b6b6b;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

.super:focus {
  background-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.super:hover {
  background-color: #215401;
  border: 2px solid #215401;
  outline-color: #215401;
}

.super:active {
  background-color: #0a0e14;
  outline-color: #0a0e14;
  border: 2px solid #0a0e14;
}

.super {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #318000;
  cursor: pointer;
  padding: 12px;
  color: white;
  border: 2px solid #318000;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.super[aria-disabled="true"]:focus {
  background-color: #606cd7;
  border: 2px solid #606cd7;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #606cd7;
  outline-offset: 2px;
  color: white;
}

.super[aria-disabled="true"] {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #ededed;
  cursor: not-allowed;
  padding: 12px;
  color: #6b6b6b;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

.textOnly:focus {
  background-color: #303fc3;
  color: white;
  border-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.textOnly:hover {
  background-color: #405b79;
  border: 2px solid #405b79;
  color: white;
  outline-color: #405b79;
}

.textOnly:active {
  border: 2px solid #0a0e14;
  background-color: #0a0e14;
  outline-color: #0a0e14;
}

.textOnly {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
  padding: 12px;
  color: #26374a;
  border: 2px solid white;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.textOnly[aria-disabled="true"]:focus {
  background-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
  color: white;
}

.textOnly[aria-disabled="true"] {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: white;
  cursor: not-allowed;
  padding: 12px;
  color: #26374a;
  border: none;
  border-radius: 4px;
  opacity: 35%;
}

.buttonsSection {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1250px) {
  .container {
    margin: auto;
    width: 900px;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    margin: auto;
    width: 700px;
  }
}
