.container {
  margin: auto;
  width: 1000px;
}

.buttonsMain {
  margin-top: 2rem;
}

.buttonsHeader {
  margin: 2rem 0;
}

.primary:focus {
  background-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 2px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.primary:hover {
  background-color: #4f6592;
  border: 2px solid #4f6592;
  outline-color: #4f6592;
}

.primary:active {
  background-color: #0a0e14;
  outline-color: #0a0e14;
  border: 2px solid #0a0e14;
}

.primary {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #26374a;
  box-shadow: 0 0 0 3px white;
  cursor: pointer;
  padding: 12px;
  color: white;
  border: 2px solid #26374a;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.primary[aria-disabled="true"],
.primary:disabled {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #ededed;
  cursor: not-allowed;
  padding: 12px;
  color: #6b6b6b;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

.secondary:focus {
  background-color: #303fc3;
  color: white;
  border-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.secondary:hover {
  background-color: #d4e6f2;
  color: #26374a;
  border: 2px solid #26374a;
  outline-color: #26374a;
}

.secondary:active {
  background-color: #aad5f2;
  color: #26374a;
  border: 2px solid #26374a;
  outline-color: #26374a;
}

.secondary {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: white;
  border: 2px solid #26374a;
  cursor: pointer;
  padding: 12px;
  color: #26374a;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.secondary[aria-disabled="true"],
.secondary:disabled {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #ededed;
  cursor: not-allowed;
  padding: 12px;
  color: #6b6b6b;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

.danger:focus {
  background-color: #303fc3;
  color: white;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.danger:hover {
  background-color: #5e1d1d;
  border-color: #5e1d1d;
  outline-color: #5e1d1d;
}

.danger:active {
  background-color: #0a0e14;
  outline-color: #0a0e14;
  border: 2px solid #0a0e14;
}

.danger {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #bc3331;
  border: 2px solid #bc3331;
  cursor: pointer;
  padding: 12px;
  color: white;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.danger[aria-disabled="true"],
.danger:disabled {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: #ededed;
  cursor: not-allowed;
  padding: 12px;
  color: #6b6b6b;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

.dangerOutline:focus {
  background-color: #303fc3;
  color: white;
  border-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.dangerOutline:hover {
  background-color: #f2d4d4;
  color: #b2302e;
  border: 2px solid #b2302e;
  outline-color: #b2302e;
}

.dangerOutline:active {
  background-color: #e5a9a9;
  color: #862423;
  border: 2px solid #862423;
  outline-color: #862423;
}

.textOnly:focus {
  background-color: #303fc3;
  color: white;
  border-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.textOnly:hover {
  background-color: #d4e6f2;
  color: #26374a;
  border: 2px solid #26374a;
  outline-color: #26374a;
}

.textOnly:active {
  background-color: #aad5f2;
  color: #26374a;
  border: 2px solid #26374a;
  outline-color: #26374a;
}

.textOnly {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
  padding: 12px;
  color: #26374a;
  border: 2px solid white;
  border-radius: 4px;
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.textOnly[aria-disabled="true"],
.textOnly:disabled {
  font-size: 20px;
  font-family: "Lato Sans", sans-serif;
  background-color: white;
  cursor: not-allowed;
  padding: 12px;
  color: #26374a;
  border: none;
  border-radius: 4px;
  opacity: 35%;
}

.buttonsSection {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1250px) {
  .container {
    margin: auto;
    width: 900px;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    margin: auto;
    width: 700px;
  }
}
