html,
body {
  font-size: 18px;
  padding: 0;
  margin: 0;
  line-height: 1.65em;
  font-family: "Noto Sans", sans-serif;
  color: #333;
}

h1 {
  font-size: 38px;
  margin-top: 54px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin-right: 10px;
}

.back:hover {
  color: #2a82cf;
}

.back:focus {
  outline: none;
  background-color: #303fc3;
  color: white;
  box-shadow: 4px 0 0 0 #303fc3, -4px 0 0 0 #303fc3;
  text-decoration: underline;
}

.back {
  color: #26374a;
  text-decoration: underline;
}

.back:active {
  background-color: #0a0e14;
  box-shadow: 4px 0 0 0 #0a0e14, -4px 0 0 0 #0a0e14;
}

a {
  color: #26374a;
  text-decoration: none;
}

p {
  margin-bottom: 28px;
  line-height: 1.6rem;
}

p:last-of-type {
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0 0 0 0;
}

fieldset .hint {
  font-size: 18px;
  margin: 0 0 14px 0;
  line-height: 1.4;
  color: #393939;
}

fieldset .hint-disabled {
  font-size: 18px;
  margin: 0 0 14px 0;
  line-height: 1.4;
  color: #707070;
}

fieldset .hint-error {
  font-size: 18px;
  margin: 0 0 14px 0;
  line-height: 1.4;
  color: #d3080c;
}

fieldset:focus-within h3,
fieldset:focus-within .hint,
fieldset:focus-within .hint-error {
  color: #303fc3;
}

/* Checkboxes */

/*style wrapper to give some space*/
.wrapper {
  position: relative;
  margin-bottom: 20px;
  margin-top: 28px;
}

/*style label to give some more space*/
.wrapper label {
  display: block;
  padding: 0 0 0 64px;
  color: black;
}

.wrapper input[type="radio"]:disabled + label,
.wrapper input[type="checkbox"]:disabled + label {
  color: #707070;
}

.wrapper input[type="checkbox"].error + label,
.wrapper input[type="radio"].error + label {
  color: #d3080c;
}

/*style and hide original checkbox*/
.wrapper input[type="checkbox"] {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

/*position new box*/
.wrapper input[type="checkbox"] + label::before {
  border: 2px solid black;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: -8px;
  width: 40px;
}

.wrapper input[type="checkbox"].error + label::before,
.wrapper input[type="radio"].error + label::before {
  border-color: #d3080c;
}

.wrapper input[type="checkbox"]:disabled + label::before {
  border-color: #707070;
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.wrapper input[type="checkbox"]:disabled + label::after {
  cursor: not-allowed;
}

/*create check symbol with pseudo element*/
.wrapper input[type="checkbox"] + label::after {
  content: "";
  border: 5px solid;
  border-left: 0;
  border-top: 0;
  height: 20px;
  color: #000000;
  left: 13px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transform: rotate(40deg);
  transition: opacity 0.2s ease-in-out;
  width: 12px;
}

.wrapper input[type="checkbox"].error + label::after {
  color: #d3080c;
}

.wrapper input[type="radio"].error + label::after {
  color: #d3080c;
  background-color: #d3080c;
}

/*reveal check for 'on' state*/
.wrapper input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

/*focus styles—commented out for the tutorial, but you’ll need to add them for proper use*/
.wrapper input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 2px white;
  outline: 3px solid #303fc3;
  outline-offset: 2px;
  border-color: #303fc3;
}

.wrapper input[type="checkbox"]:focus + label::after,
.wrapper input[type="checkbox"]:focus + label {
  color: #303fc3;
}

/* Radios */

/*style and hide original radio*/
.wrapper input[type="radio"] {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

/*position new box*/
.wrapper input[type="radio"] + label::before {
  border: 2px solid black;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: -8px;
  width: 40px;
  border-radius: 50%;
}

.wrapper input[type="radio"]:disabled + label::before {
  border-color: #707070;
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.wrapper input[type="radio"]:disabled + label::after {
  cursor: not-allowed;
}

/*create check symbol with pseudo element*/
.wrapper input[type="radio"] + label::after {
  content: "";
  border: 4px solid;
  height: 14px;
  color: #000000;
  left: 11px;
  opacity: 0;
  position: absolute;
  top: 3px;
  border-radius: 50%;
  background-color: black;
  transition: opacity 0.2s ease-in-out;
  width: 14px;
}

/*reveal check for 'on' state*/
.wrapper input[type="radio"]:checked + label::after {
  opacity: 1;
}

/*focus styles—commented out for the tutorial, but you’ll need to add them for proper use*/
.wrapper input[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 2px white;
  outline: 3px solid #303fc3;
  outline-offset: 2px;
  border-color: #303fc3;
}

.wrapper input[type="radio"]:focus + label::after {
  color: #303fc3;
  background-color: #303fc3;
}

.wrapper input[type="radio"]:focus + label {
  color: #303fc3;
}
