.textareaError {
  display: block;
  padding: 8px 12px;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-top: 10px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #d3080c;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textareaError75 {
  display: block;
  padding: 8px 12px;
  width: 75%;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-top: 10px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #d3080c;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textareaError50 {
  display: block;
  padding: 8px 12px;
  width: 50%;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-top: 10px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #d3080c;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.labelErrorRequired {
  color: #d3080c;
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
}

.labelNoHintRequired {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 12px;
  width: 500px;
}

.labelRequired::before,
.labelNoHintRequired::before,
.labelErrorRequired::before,
.radiosLabelRequired::before {
  content: "* ";
  margin-left: -0.865em;
  color: #d3080c;
}

.labelRequired::after,
.labelNoHintRequired::after,
.labelErrorRequired::after,
.radiosLabelRequired::after {
  content: " (required)";
  margin-left: 2px;
  color: #d3080c;
}

.labelRequired {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
}

.container {
  margin: auto;
  width: 75ch;
}

.InputsMain {
  margin-top: 0 54px 0 0;
}

.InputsHeader {
  margin: 54px 0 0 0;
}

.InputsSection {
  margin-bottom: 64px;
}

.InputsSection .hint {
  font-size: 18px;
  margin: 0 0 14px 0;
  line-height: 1.4;
  color: #393939;
}

.label {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
}

.labelDisabled {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
  color: #707070;
}

.InputsSection .hintDisabled {
  font-size: 18px;
  margin: 0 0 14px 0;
  line-height: 1.4;
  color: #707070;
}

.labelNoHint {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 12px;
  width: 500px;
}

.InputsSection .formGroup:focus-within {
  color: #303fc3;
}

.InputsSection .formGroup:focus-within .hint {
  color: #303fc3;
}

.input:focus,
.textarea:focus,
.textarea75:focus,
.textarea50:focus,
.textareaError50:focus,
.textareaError:focus,
.textareaError75:focus {
  border-color: #303fc3;
  box-shadow: 0 0 0 2.5px white;
  outline: 3px solid #303fc3;
  outline-offset: 2px;
}

.input {
  display: block;
  padding: 8px 10px;
  width: auto;
  max-width: 90%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #353535;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textarea {
  display: block;
  padding: 8px 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textarea75 {
  display: block;
  padding: 8px 10px;
  width: 75%;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textarea50 {
  display: block;
  padding: 8px 10px;
  width: 50%;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textarea50:disabled,
.textarea75:disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
  border-color: #707070;
}

.input:disabled {
  background-color: #f0f0f0;
  border-color: #707070;
  cursor: not-allowed;
}

.inputFull {
  display: block;
  padding: 8px 10px;
  width: 90%;
  max-width: 90%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.inputFull:focus {
  border-color: #303fc3;
  box-shadow: 0 0 0 2.5px white;
  outline: 3px solid #303fc3;
  outline-offset: 2px;
}

.labelError {
  color: #d3080c;
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
}

.labelErrorNoHint {
  color: #d3080c;
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 6px;
  width: 500px;
}

.inputError {
  display: block;
  padding: 8px 12px;
  width: auto;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-top: 12px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #d3080c;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.InputsSection a {
  font-weight: 800;
  text-decoration: underline;
}

.InputsSection a:hover {
  color: #2a82cf;
}

.InputsSection a:focus {
  outline: none;
  background-color: #303fc3;
  color: white;
  box-shadow: 4px 0 0 0 #303fc3, -4px 0 0 0 #303fc3;
  text-decoration: underline;
}

.InputsSection .formGroup:focus-within .labelError,
.InputsSection .formGroup:focus-within .labelErrorRequired,
.InputsSection .formGroup:focus-within .labelErrorNoHint,
.InputsSection .formGroup:focus-within .hintError {
  color: #303fc3;
}

.InputsSection .formGroup:focus-within .errorMessage,
.InputsSection .formGroup:focus-within .errorMessage100,
.InputsSection .formGroup:focus-within .errorMessage75,
.InputsSection .formGroup:focus-within .errorMessage50 {
  color: #353535;
}

.inputError:focus {
  border-color: #303fc3;
  box-shadow: 0 0 0 2.5px white;
  outline: 3px solid #303fc3;
  outline-offset: 2px;
}

.errorMessage {
  display: inline-block;
  background-color: #f3e9e8;
  width: auto;
  font-size: 18px;
  border-left: 2px #d3080c solid;
  padding: 8px 16px 8px 12px;
  margin: 0;
}

.errorMessage75 {
  display: inline-block;
  background-color: #f3e9e8;
  width: 75%;
  font-size: 18px;
  border-left: 2px #d3080c solid;
  padding: 8px 16px 8px 12px;
  margin: 0;
}

.errorMessage50 {
  display: inline-block;
  background-color: #f3e9e8;
  width: 50%;
  font-size: 18px;
  border-left: 2px #d3080c solid;
  padding: 8px 16px 8px 12px;
  margin: 0;
}

.InputsSection .hintError {
  font-size: 18px;
  margin: 0 0 8px 0;
  line-height: 1.4;
  color: #d3080c;
}

.radiosLabel {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.radiosLabelError {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
  color: #d3080c;
}

.radiosLabelDisabled {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
  color: #707070;
}

.radiosLabelRequired {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
}

@media only screen and (max-width: 1250px) {
  .container {
    margin: auto;
    width: 75ch;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    margin: auto;
    width: 75ch;
  }
}
