.textareaError {
  display: block;
  padding: 8px 16px;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-top: 10px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #d3080c;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textareaError75 {
  display: block;
  padding: 8px 16px;
  width: 75%;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-top: 10px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #d3080c;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textareaError50 {
  display: block;
  padding: 8px 16px;
  width: 50%;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-top: 10px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #d3080c;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.labelErrorRequired {
  color: #d3080c;
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
}

.labelNoHintRequired {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 8px;
  width: 500px;
}

.labelRequired::before,
.labelNoHintRequired::before,
.labelErrorRequired::before {
  content: "* ";
  margin-left: -0.865em;
  color: #d3080c;
}

.labelRequired::after,
.labelNoHintRequired::after,
.labelErrorRequired::after {
  content: " (required)";
  margin-left: 2px;
  color: #d3080c;
  font-weight: 500;
}

.labelRequired {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
}

.container {
  margin: auto;
  width: 1000px;
}

.InputsMain {
  margin-top: 0 54px 0 0;
}

.InputsHeader {
  margin: 54px 0 0 0;
}

.InputsSection {
  margin-bottom: 64px;
}

.InputsSection .hint {
  font-size: 16px;
  margin: 0 0 12px 0;
  line-height: 1.4;
  color: #737373;
}

.label {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
}

.labelNoHint {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 8px;
  width: 500px;
}

.InputsSection .formGroup:focus-within {
  color: #303fc3;
}

.InputsSection .formGroup:focus-within .hint {
  color: #303fc3;
}

.input:focus,
.textarea:focus,
.textarea75:focus,
.textarea50:focus,
.textareaError50:focus,
.textareaError:focus,
.textareaError75:focus {
  border-color: #303fc3;
  box-shadow: 0 0 0 2.5px #303fc3;
  outline: none;
}

.input {
  display: block;
  padding: 8px 10px;
  width: auto;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textarea {
  display: block;
  padding: 8px 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textarea75 {
  display: block;
  padding: 8px 10px;
  width: 75%;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.textarea50 {
  display: block;
  padding: 8px 10px;
  width: 50%;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.input:disabled {
  background-color: #f0f0f0;
  border-color: #828282;
  cursor: not-allowed;
}

.inputFull {
  display: block;
  padding: 8px 16px;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #353535;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.inputFull:focus {
  border-color: #303fc3;
  box-shadow: 0 0 0 2.5px #303fc3;
  outline: none;
}

.labelError {
  color: #d3080c;
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 4px;
  width: 500px;
}

.inputError {
  display: block;
  padding: 8px 16px;
  width: auto;
  max-width: 100%;
  height: auto;
  min-height: 37px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  margin-top: 10px;
  color: #262626;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #d3080c;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.InputsSection .formGroup:focus-within .labelError,
.InputsSection .formGroup:focus-within .labelErrorRequired,
.InputsSection .formGroup:focus-within .hintError {
  color: #303fc3;
}

.InputsSection .formGroup:focus-within .errorMessage,
.InputsSection .formGroup:focus-within .errorMessage100,
.InputsSection .formGroup:focus-within .errorMessage75,
.InputsSection .formGroup:focus-within .errorMessage50 {
  color: #353535;
}

.inputError:focus {
  border-color: #303fc3;
  box-shadow: 0 0 0 2.5px #303fc3;
  outline: none;
}

.errorMessage {
  display: inline-block;
  background-color: #f3e9e8;
  width: auto;
  font-size: 16px;
  border-left: 2px #d3080c solid;
  padding: 8px 16px;
  margin: 0;
}

.errorMessage100 {
  display: inline-block;
  background-color: #f3e9e8;
  width: 100%;
  font-size: 16px;
  border-left: 2px #d3080c solid;
  padding: 8px 16px;
  margin: 0;
}

.errorMessage75 {
  display: inline-block;
  background-color: #f3e9e8;
  width: 75%;
  font-size: 16px;
  border-left: 2px #d3080c solid;
  padding: 8px 16px;
  margin: 0;
}

.errorMessage50 {
  display: inline-block;
  background-color: #f3e9e8;
  width: 50%;
  font-size: 16px;
  border-left: 2px #d3080c solid;
  padding: 8px 16px;
  margin: 0;
}

.InputsSection .hintError {
  font-size: 16px;
  margin: 0 0 6px 0;
  line-height: 1.4;
  color: #d3080c;
}

@media only screen and (max-width: 1250px) {
  .container {
    margin: auto;
    width: 900px;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    margin: auto;
    width: 700px;
  }
}
