.canadaH1 {
  font-size: 38px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #af3c43;
  margin-bottom: 0.2em;
  margin-top: 2.5em;
  padding-bottom: 0.2em;
}

.nav {
  border-top: 3px solid #38414d;
}

.container {
  margin: auto;
  width: 1170px;
}

.nav .container button {
  cursor: pointer;
  background-color: #26374a;
  border: 2px solid #26374a;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  width: 125.5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fipContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1170px;
  padding: 0 14px 28px 14px;
}

.input {
  height: auto;
  min-height: 37px;
  width: 323px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  padding: 6px 12px;
  line-height: 1.4375;
  border: 1px solid #ccc;
}

.search {
  display: flex;
}

.searchSubmit {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-color: #26374a;
  background-color: #26374a;
}

.language {
  color: #284162;
  text-decoration: underline;
  padding: 14px 14px;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  text-align: right;
  margin: auto;
  width: 1170px;
}

.skip {
  margin-top: 7px;
  margin-left: 7px;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Lato Sans", sans-serif;
  background-color: white;
  border: 2px solid #26374a;
  cursor: pointer;
  padding: 12px;
  color: #26374a;
  border-radius: 4px;
  position: absolute;
  z-index: 200;
  transform: translateY(-130%);
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.skip:focus {
  transform: translateY(0%);
  background-color: #303fc3;
  color: white;
  border-color: #303fc3;
  border: 2px solid #303fc3;
  box-shadow: 0 0 0 3px white;
  outline: solid 3px #303fc3;
  outline-offset: 2px;
}

.skip:hover {
  background-color: #d4e6f2;
  color: #396293;
  border: 2px solid #396293;
  outline-color: #396293;
}

.skip:active {
  background-color: #aad5f2;
  color: #265997;
  border: 2px solid #265997;
  outline-color: #265997;
}
